@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
}
main{
    margin-top: 90px;
}
body {
    background: #F3F5FC;
    margin: 0;
}

.cabecera{
    background: black;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.titulo {
    color:rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    position: relative;
    left:20px;
}

.contenedor {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: "Inter", sans-serif;
}

.contenedor .text {
    border:0px;
    border-radius: 5px;
    height: 300px;
    width: 500px;
    font-size: 32px;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.6);
    resize: vertical;
    outline: none;
    padding: 20px;
}

.contenedor .mensaje {
    border:0px;
    border-radius: 5px;
    height: 300px;
    width: 500px;
    background: white !important;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.6);
    font-size: 32px;
    padding: 20px;
    resize: vertical;
}
.aviso{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
.botones .boton {
    width: 200px;
    height: 2em;
    border-radius: 10px;
    color: white;
    font-family: "Inter", sans-serif;
    background-color:blue;
    border: 0px;
    height: 40px;
    transition: 1s;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
}

.botones .boton:hover {
    background: palevioletred;
}
.botones .copiar{
    width: 200px;
    height: 2em;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 40px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
    transition: 1s;
}
.botones .copiar:hover {
    background: gray;
    color: white;
}
.pie_pagina{
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
}
.botones{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}
.developer{
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 7px;
    background: blue;
    color: #F3F5FC;
}
@media screen and (max-width:800px) and (min-width:600px) {
    .contenedor{
        display: inline;
        width: auto;
    }
    .contenedor .mensaje{
        width: 100%;
        height: 100px;
        border-radius: 15px;
    }
    .contenedor .text{
        width: 100%;
        height: 300px;
    }
    
}
@media screen and (max-width:600px) and (min-width:200px) {
    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        }
    .contenedor .mensaje{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        width: 95%;
        height: 300px;
    }
    .contenedor .text{
        width: 95%;
        height: 300px;
    }
    .botones{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 20px;
    }
    .botones .boton{
        margin: 5px;
        width: 100%;
    }
    .botones .copiar{
        margin: 5px;
        width: 100%;
    }
    .titulo{
        left: 0;
        text-align: center;
    }
    
}